header {
    background-color: rgb(116, 95, 209);;
    display: flex;
    padding: 35px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

header .title {
    color: #fff;
    justify-content: start;
    flex: 1;
    font-size: 20px;
    font-weight: 500;
}