
#login {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 13%;
}

#login .form_login {
    display: flex;
    flex-direction: column;
    width: 350px;
    padding: 25px;
    border: 1px solid grey;
    border-radius: 10px;
}

#login main button{
    align-self: flex-end;
    margin-top: 20px;
}
