
footer {
    background: white;
    border-top: thin dotted black;
    margin-top: 20px;
    display: flex;
    color: orange;
    vertical-align: middle;
    padding-left: 35px;
    padding-right: 35px;
}

footer .projectName {
    justify-content: start;
    flex: 1;
    font-size: 20px;
    font-weight: 600;
    padding-top: 35px;
    padding-bottom: 35px;
}

footer .copyRight img{
    max-height: 80px;
}